# LaTeX temporary files
*.aux
*.log
*.toc
*.rel
*.fls

# PDF output - usually a bad idea to keep this in Git
main.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Miscellaneous stuff
*.sw?
*.thm
*~
auto/
*.xoj

.DS_Store
_biblio
cv.pdf
